@import "tailwindcss";

@theme {
  --font-poppins: 'Poppins', sans-serif;
  
  --color-raimes-purple: #29296d;
  --color-raimes-yellow: #ffc107;
  --color-raimes-green: #0b472e;
  --color-raimes-white: #f6f6ff;
}